@inject IStringLocalizer<SharedResources> SharedLocalizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-3">
        <div class="p-3 bg-light border">
            <h4>Filtros</h4>
            <div class="mb-3">
                <label for="filter-date" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="filter-date">
            </div>
            <div class="mb-3">
                <label for="filter-type" class="form-label">Tipo</label>
                <select class="form-select" id="filter-type">
                    <option selected>Todos</option>
                    <option value="system">Dato fuera límite</option>
                    <option value="system">Error calidad datos</option>
                </select>
            </div>
            <button class="btn btn-primary w-100">Aplicar Filtros</button>
            <hr>
            <button class="btn btn-secondary w-100 mt-3" onclick="marcarTodoLeido()">Marcar Todo como Leído</button>
        </div>
    </div>
    <div class="col-9">
        <div class="card card-custom gutter-b">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="card-title">
                    @SharedLocalizer["Notificaciones"]
                </div>
                <div>
                    <button class="btn btn-outline-secondary btn-sm" onclick="filtrarNotificaciones('todos')">Todos</button>
                    <button class="btn btn-outline-secondary btn-sm" onclick="filtrarNotificaciones('sin-leer')">Sin Leer (6)</button>
                </div>
            </div>
            <div class="card-body">
                <div class="container mt-5 lista_notificaciones">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Detalles de la Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="row">
                    <b>Valor:</b> 123
                </div>
                <div class="row">
                    <b>Valor:</b> 1313
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var urlGetNotificaciones = "@Url.Action("GetNotificaciones", "Notificacion")"
    </script>
    <script src="/js/notificacion/notificacion.js" asp-append-version="true"></script>
}