body{
    font-size:12px !important;

}
.h5{
    font-size:1rem !important;
}
.bootstrap-select .dropdown-menu.inner > li.dropdown-header {
    font-weight: bold;
    color: black;
}
.content .bootstrap-select .dropdown-menu{
  z-index:100 !important
}

#tablaMuestras > tbody > tr{
  cursor:pointer !important;
}

.paneltab{
  width:500px !important;
}
.table td {
    vertical-align: middle !important;
}
.col-detalle:hover {
    background-color:#e1dede !important;
    color: #3F4254 !important;
}
    .col-detalle:hover i {
        color: #181C32 !important
    }

.bg-danger{
    background-color: #FFE8E6 !important;
}
.bg-success{
    background-color: #E6FFE8 !important;
}
.card.card-custom > .card-header{
    min-height: 50px !important;
    max-height: 60px !important;
}
.card.card-custom > .card-body{
    padding:1.25rem 2.25rem !important;
}
.maximo-tabla {
    max-height: 750px;
    overflow: auto
}
.table-filtered-jf th {
    border-right: 1px solid #D3D4D7 !important;
    border-left: 1px solid #D3D4D7 !important;
}
.text-success {
    color: #E6FFE8 !important;
}
.text-danger {
    color: #FFE8E6 !important;
}
.table.sticky th {
    position: sticky;
    top: 0;
    z-index: 11
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.table-filtered-jf th.drag__over__right, .table-filtered-jf td.drag__over__right{
    border-right: 2px solid blue !important;
}
.table-filtered-jf th.drag__over__left, .table-filtered-jf td.drag__over__left{
    border-left: 2px solid blue !important;
}
.listProyect td:nth-child(1) {
    width: 70px
}
.listProyect td:nth-child(3) {
    width: 160px
}
.listProyect td:nth-child(4) {
    width: 160px
}
.multi-columns {
    column-count: 2;
    column-gap: 20px;
    display: block !important;
}
.ui-state-default {
    cursor: grab;
}

.table-revisar thead th {
    position: sticky;
    top: 0; /* Ajusta esto según sea necesario */
    background-color: white; /* O el color de fondo que prefieras */
    z-index: 1; /* Para asegurarse de que la cabecera se mantenga sobre el cuerpo */
}

.table-revisar {
    max-height: 380px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.card.card-custom > .telemetria-mapa.card-body {
    padding: 0px !important;
}

.card.card-custom > .telemetria-grafico.card-body {
    padding: 0px !important;
}
.scrollable-column {
    max-height: 80vh; /* Ajusta esto según tus necesidades */
    overflow-y: auto; /* Muestra una barra de desplazamiento vertical si es necesario */
}

.expanded {
    position: fixed !important;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80% !important;
    z-index: 1000;
    overflow: auto; /* Asegúrate de que el contenido es accesible en pantallas pequeñas */
}

.notification {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f9fa; /* Color de fondo ligero para cada notificación */
    border-radius: 5px; /* Bordes redondeados */
}

.notification-time {
    text-align: right;
    font-size: 0.8rem;
}

.text-peligro {
    color: #F64E60 !important;
}

#grupo_parametros2 {
    width: 100% !important;
}

.sortable_parametros {
    max-height: 400px; /* Ajusta esto según la altura deseada */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */

}

